.wrap-title {
  display: flex;
  flex-direction : row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wrap-card {
  height: 100%;
}

.wrap-button {
  margin-top: 16px;
}

.card-header {
  background-color: lightblue !important;
  color: white;
}

.wrapper {
   margin-bottom: 16px;
 }
